@model GaleriAHL.Entities.Arac

@{
    ViewData["Title"] = "Araç Sil";
}

<h1>Araç Sil</h1>

<h3>Gerçekten Silmek İstiyor musunuz ?</h3>
<div>
    <h4>Araç</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KasaTip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KasaTip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatistaMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatistaMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Not)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Not)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.Ad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Listeye Dön</a>
    </form>
</div>
